$background-color: #f2f3f5;
$placeholder-color: #aaa;

$color-dark: #222;
$color-dark-2: #3674B5;
$color-gray: #e3e3e3;
$color-yellow: #fdf4db;
$color-cyan: #66afe9;
$color-white: #fff;
$color-red: #f03434;
$color-green: #26a65b;
$color-blue: #3674B5; // Added blue color - matching dark-2 since that was used for table headers
